body{
    width: 0;
    height: 0;
    background-color: lemonchiffon;

}
.container{
    background-color: lightgrey;
  border: 2px solid green;
  padding: 30px;
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 400px;
  text-align: center;
  width: 400px;
  font-size: 15px;


}
/*=============================================================*/
/*========================Mobile Media queries ===============*/
/*=============================================================*/
@media only screen and (max-width: 600px) 
{
  body{
    display: block;
    text-decoration: none;
    overflow: visible;
    float: center;
  }


  .container{
    float: right;
    display: block;
    margin: 4px;
    width: 100%;
  }
  .footer{
    display: none;
  }
    
}
/*=============================================================*/
/*========================Tablet Media queries ===============*/
/*=============================================================*/